%p#notice= notice
%p
  %strong First name:
  = @player.first_name
%p
  %strong Last name:
  = @player.last_name
%p
  %strong Email:
  = @player.email
%p
  %strong Phone number:
  = @player.phone_number
%p
  %strong City:
  = @player.city
%p
  %strong Cards:
  - @player.cards.each do |card|
    = link_to card.name, card

= link_to 'Edit', edit_player_path(@player)
= link_to 'Back',players_path
